div(class="jumbotron textalign")
  h1(class="textalign") Hours of Operation
  ul
   li Mon	9:00 am - 10:00 pm
   li Tues	9:00 am - 10:00 pm
   li Weds	9:00 am - 10:00 pm
   li Thurs	9:00 am - 10:00 pm
   li Fri	9:00 am - 10:00 pm
   li Sat	9:00 am - 10:00 pm
   li Sun	9:00 am - 10:00 pm
